<!DOCTYPE html>
<html lang="en" ng-app="motoGpApp" ng-controller="RiderListCtrl">
<head>
<meta charset="UTF-8">
<title ng-bind-template="MotoGp Riders: {{query}}">MotoGp Riders:</title>
<script type="text/javascript" src="assest/js/lib/angular.min.js"></script>
<script type="text/javascript" src="assest/js/app/controllers.js"></script>
</head>

<body >
	<div class="container-fluid">
		<div clsaa="row-fluid">
			<div class="span2">
				Search: <input ng-model="query">
			</div>
			<div class="span10">
				<ul class="riders">
					<li ng-repeat="rider in riders | filter:query">
						<a>
							<img alt={{rider.name}} src={{rider.image}}>
						</a>
						<div>
							<p>
								<img alt={{rider.country.name}} src={{rider.country.image}}>
								<span>{{rider.id}}</span>
							</p>
							<p>
								<a>
									{{rider.name}}
								</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>