@CHARSET "UTF-8";
.span2{
	width:16.66%;
}
.span10{
	width:83.33%;
}
.span10 li{
	float:left;
	list-style-type: none;
}
#imageGallery img {
	height:10em;
	width:auto;
}
#imageGallery li {
	float:left;
	list-style-type: none;
}
.clear {
	clear: both;
}
#mainGalleryImage {
	max-height:15em;
	width:auto;
}