@charset "utf-8";
/* CSS Document */

@CHARSET "UTF-8";
.span2{
	float:left;
	width:16.66%;
}
.span10{
	float:left;
	width:83.33%;
}
#riderInfo ul li img{
	width: auto;
	height:10em;
}
#riderInfo ul li {
	list-style-type: none;
	float:left;
}

.clear {
	clear: both;	
}

#mainImage {
	max-height: 20em;	
}

li.riders-listing{
	float:left;	
}

img.rider {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 10em;
  display: none;
}

img.rider:first-child {
  display: block;
  }
  
  .rider-images {
  background-color: white;
  width: 450px;
  height:20em;
  overflow: hidden;
  position: relative;
  float: left;
}