<div class="container-fluid">
	<div clsaa="row-fluid">
		<div class="span2">
			Search: <input ng-model="query"> Sort By: <select
				ng-model="orderProp">
				<option value="name">Name</option>
				<option value="id">Rider Number</option>
				<option value="country.name">Country</option>
			</select>
		</div>
		<div class="span10">
			<ul class="riders">
				<li ng-repeat="rider in riders | filter:query | orderBy: orderProp">
					<a> <img alt="{{rider.name}}" ng-src="{{mainImageUrl}}">
				</a>
					<div>
						<p>
							<img alt="{{rider.country.name}}" ng-src="{{rider.country.image}}">
							<span>{{rider.id}}</span>
						</p>
						<p>
							<a> {{rider.name}} </a>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>