<!DOCTYPE html>
<html>
<article id="riderInfo">
	<h1>{{rider.name}}</h1>
	<figure>
		<img alt="{{rider.name}}" ng-src="{{rider.image}}">
		<figcaption>{{rider.name}}</figcaption>
	</figure>
		<figure id="flag">
		<img alt="{{rider.country.name}}" ng-src="{{rider.country.image}}">		
	</figure>
	<p>Rider#: {{rider.id}}</p>
	<p>Team: {{rider.team}}</p>
	<p>Bike: {{rider.bike}}</p>
	<p>Birthdate: {{rider.birthdate}}</p>
	<p>Weight: {{rider.weight}}</p>
	<p>Height: {{rider.height}}</p>
	<table>
		<thead>
			<tr>
				<th>Pole position</th>
				<th>Race Fastest Lap</th>
				<th>Podium</th>
				<th>GP victory</th>
				<th>World Campionship</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{polePosition | checkmark}}</td>
				<td>{{raceFastestLap | checkmark}}</td>
				<td>{{podium | checkmark}}</td>
				<td>{{gpVictory | checkmark}}</td>
				<td>{{worldCampionship | checkmark}}</td>
			</tr>
		</tbody>
	</table>
</article>
</html>