<article id="riderInfo">
	<h1>{{rider.name}}</h1>
	<figure class="rider-images">
		<img alt="{{rider.name}}" ng-src="{{img}}" id="mainImage" ng-repeat="img in rider.image" ng-class="{active:mainImageUrl==img}"  class="rider">
		<figcaption>{{rider.name}}</figcaption>
	</figure>
	<figure id="flag">
		<img alt="{{rider.country.name}}" ng-src="{{rider.country.image}}">		
	</figure>
	<ul >
		<li ng-repeat="img in rider.image">
			<img ng-src="{{img}}" ng-click="setImage(img)" />
		</li>
	</ul>
    <div class="clear"></div>
    <section id="details">
	<p>Rider#: {{rider.id}}</p>
	<p>Team: {{rider.team}}</p>
	<p>Bike: {{rider.bike}}</p>
	<p>Birthdate: {{rider.birthdate}}</p>
	<p>Weight: {{rider.weight}}</p>
	<p>Height: {{rider.height}}</p>
    </section>
    <table>
		<thead>
			<tr>
				<th>Pole position</th>
				<th>Race Fastest Lap</th>
				<th>Podium</th>
				<th>GP victory</th>
				<th>World Campionship</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{polePosition | checkmark}}</td>
				<td>{{raceFastestLap | checkmark}}</td>
				<td>{{podium | checkmark}}</td>
				<td>{{gpVictory | checkmark}}</td>
				<td>{{worldCampionship | checkmark}}</td>
			</tr>
		</tbody>
	</table>
</article>